
/* Десктопная версия */
.menu {
    display: flex; /* Располагаем элементы в ряд */
    flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
    justify-content: space-around; /* Равномерное распределение элементов */
    margin: 0 10px;
  }
  
  .menu-item {
    box-sizing: border-box; /* Учитываем границы в ширине */
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    width: 30%; /* Ширина каждого блока */
    position: relative; /* Позиционирование заголовка раздела */
    background-color: #bccba2;
  }
  
  .menu-title {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Положение заголовка по вертикали */
    right: 10px; /* Положение заголовка по горизонтали */
    background-color: #7133ed; /* Цвет фона заголовка */
    padding: 5px 10px;
    border: 1px solid black;
    font-weight: bold;
  }
  
  p {
    margin-top: 40px;
  }
  
  h1 {
    text-align: center;
}
  /* Планшетная версия */
  @media (max-width: 991px) {
    .menu {
      flex-direction: column; /* Располагаем элементы вертикально */
    }
  
    .menu-item {
      width: 45%; /* Ширина каждого блока */
      margin-bottom: 20px;
    }
  
    .menu-item:nth-child(3) {
      width: 100%; /* Блок "Суши" занимает всю ширину */
    }
  }
  
  /* Мобильная версия */
  @media (max-width: 767px) {
    .menu-item {
      width: 100%; /* Каждый блок занимает всю ширину */
      margin-bottom: 20px;
    }
  }
  